* {
    margin: 0;
    padding: 0;
    font-family: monospace;
}

body {
    display: grid;
    place-content: center;
    align-items: center;
    width: 100%;
}

header {
    width: 100%;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
}

header section {
    width: 100%;
    height: 8em;
    display: flex;
    align-items: center;
    padding-bottom: 2em;
}

img[target=logo] {
    width: 100px;
    cursor: pointer;
    border-radius: 50%;
}

h1 {
    margin: 10px;
    color: black;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

main {
    height: 100vh;
    height: 100dvh;
    scroll-snap-type: x mandatory;
    place-self: center;
    display: flex;
    overflow-x: auto;
    gap: 2em;
    width: 100%;
    margin-left: 5em;
}

main header {
    width: 100%;
}


main section {
    display: grid;
    place-content: center;
    scroll-snap-align: center;
    block-size: 80vmin;
    aspect-ratio: 1;
    border: solid black 3px;
    position: relative;
    box-shadow: 4px 4px 10px black;
    background: url("../img/flower.webp");
    filter: contrast(80%);
}

main section h1 {
    color: white;
    position: absolute;
    font-size: 3em;
    top: 0.5em;
    left: 2em;
}

main section h1::first-letter {
    text-transform: uppercase;
}

main section div {
    color: white;
}

main section div:hover {
    animation: size 1s linear infinite alternate;
}

@keyframes size {
    0% {
        font-size: 2em;
    }

    50% {
        font-size: 4em;
    }

    100% {
        font-size: 8em;
    }
}

main section p,
main section h2{ 
    color: white;
}

main section ul {
    position: fixed;
    bottom: 1em;
    left: 1em;

}

main section ul li {
    list-style: none;
}

main section ul li a {
    text-decoration: none;
    color: white;
    background-color: rgb(167, 101, 115);
    padding: .5em 1.5em;
}

.loading {
    display: grid;
    place-content: center;
    width: 10em;
    height: 10em;
    clip-path: polygon(50% 0%, 100% 50%, 100% 50%, 50% 100%, 50% 100%, 0% 50%, 50% 0%);
    background-color: rgb(167, 101, 115);
    transform-style: preserve-3d;
    animation: rotate 1s infinite alternate linear;
}

.loading.display{
    opacity: 1;
}

@keyframes rotate {
    0% { transform: rotateY(0turn);  }
    100% { transform: rotateY(1turn)}
}